<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <div class="wrapper-main">
        <%- include("./partials/top-nav") %>

        <div class="banner">
            <img src="/images/kirby-eat.gif">
            <h2>THREAD: <%=thread.title%></h2>

        </div>
        
        <hr>

            <!-- container for the CREATE NEW POST form -->
            <div class="flex-centered">

                <form id="submission-form" action="/api/threads/createPostInThread/<%=thread.threadNo%>" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" id="username" name="username" placeholder="Anonymous" value="Anonymous">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="content">Comment</label>
                        <textarea id="content" name="content" rows="4" cols="50"></textarea>
                    </div>
                
                    <br>

                    <div class="form-group" id="fileSubmission">
                        <label for="file">Image File</label>
                        <input id="file" name="file" type="file">
                    </div>
                    <div class="form-group" id="urlSubmission">
                        <label for="img">Img URL</label>
                        <input type="text" id="img-url-bar" name="img" placeholder="https://i.imgur.com/QFw4xCI.jpeg" value="https://i.imgur.com/QFw4xCI.jpeg">
                    </div>

                    <div>
                        <br>
                        <input type="checkbox" id="imgCheckbox" name="imgCheckbox">
                        (use img url instead)
                        <br>
                    </div>
                    
                    <br>
                    <input type="submit" value="Post Reply">
                </form>
            </div>
        <hr>

        <%- include("./partials/options-nav") %>

        <div class="thread">

            <%thread.posts.forEach( (post, index) => { %>
                <%if (index == 0) {%>
                    <div class="post-container-OP">
                        <div class="post-OP post" id="<%=post.postNo%>">
                <%} else {%>
                    <div class="post-container">
                        <div class="reply-arrows">>></div>
                        <div class="post-reply post" id="<%=post.postNo%>">
                <%}%>
                        <div class="post-user-information">
                            <span class="username"><%=post.username%></span>
                            <!-- <span class="date">04/08/24(Mon)</span> -->
                            <span class="date"> <%=post.createdAt%></span>
                            <span class="postNo"> No.<%=post.postNo%></span>
                            <!-- old position vv replies at top -->
                            
                        </div>
                        <div class="post-user-information">
                            <span class="literally-the-word-replies">Replies: </span>
                            <span class="replies"></span>
                        </div>

                        <% if (post.img) {%>
                            <div class="post-img-header">
                                File: <span><a href="<%=post.img%>" target="_blank">
                                    <%
                                        // vv regex to remove most of url from link
                                        let fileName = post.img.replace(/.*\//, '');
                                        // vvv limits the length of file name if too large
                                        if (fileName.length > 40)
                                        {
                                            fileName = fileName.substring(fileName.length-39);
                                        }
                                    %>
                                    <%=fileName%></a></span>
                                    <!-- below, ternaries check if the values for imgSize and dimensions exist in the post and then prints conditionally -->
                                (<%=(post.imgSize) ? post.imgSize : "???"%> KB, <%=(post.imgWidth) ? post.imgWidth : "???"%>x<%=(post.imgHeight) ? post.imgHeight : "???"%>)  
                                    <!-- in the case of url-based images, such information is not stored... should I perhaps do that? I can with sharp! -->
                            </div>
                            <%if (post.imgSize) {%>
                                <a href="#" class="image-enlargement" data-img-width="<%=post.imgWidth%>" data-img-height="<%=post.imgHeight%>">
                            <%}%>
                            <img src="<%=post.img%>" class=<%=(index == 0) ? "post-thumbnail-OP" : "post-thumbnail"%>>
                            <%if (post.imgSize) {%>
                                </a>
                            <%}%>
                        <%}%>
                        <blockquote class="post-message preserve-whitespace"><%=post.textContent%></blockquote>
                        <!-- <div class="post-user-information">
                            <span class="replies"></span>
                        </div> -->
                    </div>
                </div>

            <%});%>

        </div>

    </div>
    <%- include("./partials/bottom-nav") %>
    <%- include("./partials/footer") %>

    <script src="/js/createReplyLinks.js"></script>

    <script src="/js/enableImageUploadSwitching.js"></script>

    <script src="/js/enlargeImage.js"></script>

</body>




