<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>

    <div class="wrapper-main">
        <%- include("./partials/top-nav") %>

        <div class="banner">
            
            <h2>This is your personal dashboard, USER</h2>
            
        </div>
        <hr>

        <%- include("./partials/options-nav") %>

    </div>

    <%- include("./partials/bottom-nav") %>
    <%- include("./partials/footer") %>

</body>